* {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
}

:root {
    --text-color: #333333;
    --white-color: #FFFFFF;
    --primary-color: #2C31CF;
    --navbar-height: 68px; 
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white-color);
}

.no-border {
    border: none;
}